*.jar
/target/default/*
/target/uberjar/*
!/target/uberjar/serenity-0.1.0-SNAPSHOT-standalone.jar
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.shadow-cljs/
node_modules/
resources/*/**/*.js
resources/*/**/*.js.map
resources/*/**/*.edn
\#*#
