{:source-paths ["src"]
 :dependencies [[com.taoensso/sente "1.14.0-RC2"]
                [com.taoensso/timbre "4.10.0"]
                [crate "0.2.5"]]
 :builds {:app {:target :browser
                :output-dir "resources/public/"
                :asset-path "/"
                :modules {:main {:init-fn serenity.client/main}}}}}

